<!DOCTYPE html>
<html>
<head>
    <title>Product List</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
</head>
<body>
    <div class="container">
        <h1>Product List</h1>
        <a href="{% url 'create_product' %}" class="add-new">Add New Item</a>
        <ul>
            {% for product in products %}
            <li>
                <a href="{% url 'product_detail' product.pk %}">{{ product.name }}</a> - 
                <a href="{% url 'update_product' product.pk %}">Edit</a> - 
                <a href="{% url 'delete_product' product.pk %}">Delete</a>
            </li>
            {% endfor %}
        </ul>
    </div>
</body>
</html>

